.DS_Store
.cpcache/
target/
node_modules/
.shadow-cljs/
gen/

/build/js
/build/css
/public/js
/public/css

.eslintcache
.clj-kondo/*
!.clj-kondo/.gitkeep
!.clj-kondo/config.edn
.lsp
init
tmp/*
.env
.envrc
