{:openapi "3.0.2"
 :info
 {:version "1.0.0"
  :title "Card"
  :description
  "Zettelkasten, Kanban"
  :contact
  {:name "Malcolm Sparks"
   :email "mal@juxt.pro"
   :url "https://juxt.pro"}}

 :servers [{:url "/card"}]

 :paths
 {"/cards/"
  {:post
   {:operationId "postCard"
    :juxt.site.alpha/post-fn juxt.apex.alpha.helpers/post-request-body
    :requestBody
    {:required true
     :content {"application/json" {:schema {"$ref" "#/components/schemas/Card"}}}}
    :responses
    {201 {}}}}

  "/cards/{id}"
  {:parameters
   [{:name "id"
     :in "path"
     :required true
     :description "Card identifier"
     :schema {:type "string"}}]

   :get {:operationId "getCard"}
   :put {:operationId "putCard"
         :requestBody
         {:required true
          :content {"application/json" {:schema {"$ref" "#/components/schemas/Card"}}}}
         :responses
         {201 {}
          204 {}}}}}

 :components
 {:schemas
  {"Card"
   {:type "object"
    :juxt.jinx.alpha/keyword-mappings {"type" "juxt.site.alpha/type"}
    :properties
    {"type" {:const "Card"}
     "priority" {:type "number"}
     "deadline" {:type "string"
                 :juxt.jinx.alpha/as "inst"}}}}}}
