{:deps {:aliases [:dev]}

 :builds
 {:app
  {:target :browser
   :modules {:app {:entries [juxt.home.card.main]}}

   :devtools {:http-root "public/"
              :http-port 8000
              :reload-strategy :full
              :preloads [devtools.preload]}
   :js-options {:ignore-asset-requires true}
   :compiler-options {:output-feature-set :es8} ;; needed to stop $jscomp errors with newer js libs
   :dev
   {:output-dir "public/js"
    :asset-path "/js"
    :closure-defines
    {goog.DEBUG true
     juxt.home.card.config/dev? true
     juxt.home.card.config/site-api-origin "https://home.juxt.site" #_"http://localhost:2021"
     juxt.home.card.config/application-context "/"}}

   :release
   {:compiler-options {:optimizations :advanced}
    :output-dir "target/js"
    :asset-path "/js"
    :closure-defines
    {juxt.home.card.config/dev? true
     ;; We need the full origin because we currently use it to construct card
     ;; ids
     juxt.home.card.config/site-api-origin "https://home.juxt.site"
     juxt.home.card.config/application-context "/card/"}
    :build-hooks
    [(shadow.cljs.build-report/hook
      {:output-to "tmp/report.html"})]}}}}
