{:deps {:aliases [:dev]}

 :dev-http {8000 {:roots ["public" "target/dev/app"]}}

 :builds
 {:app
  {:target :browser
   ;; This entry-keys option were found to be needed prior to the upgrade to
   ;;   shadow-cljs 2.14.2. Left in in-case the fix regresses.  :js-options
   ;;   {:entry-keys ["umd" "browser" "main" "module"]}
   :modules {:main {:entries [juxt.home.card.main #_juxt.home.card.slate]}}

   :devtools
   {:preloads [day8.re-frame-10x.preload]}

   :dev
   {:compiler-options #_{:output-feature-set :es8} {}
    :output-dir "target/dev/app/js"
    :closure-defines
    {goog.DEBUG true
     juxt.home.card.config/dev? true
     juxt.home.card.config/site-api-origin "https://home.juxt.site" #_"http://localhost:2021"
     juxt.home.card.config/application-context "/"
     day8.re-frame.tracing.trace-enabled? true
     re-frame.trace.trace-enabled? true}}

   :release
   {:compiler-options {:optimizations :advanced}
    :output-dir "target/release/app/js"
    :closure-defines
    {juxt.home.card.config/dev? true
     ;; We need the full origin because we currently use it to construct card
     ;; ids
     juxt.home.card.config/site-api-origin "https://home.juxt.site"
     juxt.home.card.config/application-context "/card/"}
    :build-options
    {:ns-aliases
     {day8.re-frame.tracing day8.re-frame.tracing-stubs}}}}}}
