{:crux.db/id "{{base-uri}}/_card"
 :juxt.site.alpha/type "Application"
 :title "Cards"
 :description "Zettelkasten"
 :home-page "{{base-uri}}/card/index.html"
 :icon "{{base-uri}}/_card/icon.svg"
 :juxt.http.alpha/content-type "text/plain;utf-8"
 :juxt.http.alpha/content "(Metadata about cards application)"
 :juxt.http.alpha/methods #{:get :head :options}}

{:crux.db/id "{{base-uri}}/_card/icon.svg"
 :juxt.http.alpha/content-type "image/svg+xml"
 :juxt.http.alpha/content "<svg class=\"text-gray-400 group-hover:text-gray-300 mr-3 h-6 w-6\" xmlns=\"http://www.w3.org/2000/svg\" class=\"h-6 w-6\" fill=\"none\" viewBox=\"0 0 24 24\" stroke=\"currentColor\">
                    <path stroke-linecap=\"round\" stroke-linejoin=\"round\" stroke-width=\"2\" d=\"M7 21h10a2 2 0 002-2V9.414a1 1 0 00-.293-.707l-5.414-5.414A1 1 0 0012.586 3H7a2 2 0 00-2 2v14a2 2 0 002 2z\" />
                  </svg>"
 :juxt.http.alpha/methods #{:get :head :options}
 :juxt.pass.alpha/classification "PUBLIC"}

{:crux.db/id "{{base-uri}}/_card/permissions/view-cards"
 :juxt.site.alpha/type "ApplicationPermission"
 :juxt.site.alpha/application "{{base-uri}}/_card"
 :description "The permission to view cards"
 :juxt.http.alpha/methods #{:get :head :options}}

{:crux.db/id "{{base-uri}}/card/index.html"
 :description "Deliver the application JS payload"
 :juxt.http.alpha/methods #{:get :head :options}
 :juxt.site.alpha/type "TemplatedRepresentation"
 :juxt.site.alpha/template "{{base-uri}}/templates/card/index.html"
 :juxt.site.alpha/template-engine :selmer
 :selmer.util/custom-resource-path "{{base-uri}}/_home/templates/"
 :juxt.site.alpha/template-model
 {"title" "Cards"

  "user"
  {:juxt.site.alpha/query
   {:find [id name username]
    :keys [id name username]
    :where [[subject :juxt.pass.alpha/user user]
            [subject :juxt.pass.alpha/username username]
            [user :name name]
            [user :crux.db/id id]]}
   :juxt.site.alpha/results first}}}
