{:crux.db/id "faed4cd6-789a-4c8f-9a94-e0608f481fe6"
 :title "Diary entry for 4th May"
 :type "quotation"
 :paras ["To be or not to be"]
 :author "William Shakespeare"}

{:crux.db/id "https://home.juxt.site/_site/users/jdt"
 :name "Jeremy Taylor"
 :type "User"}


{:crux.db/id "jdt-suggestion"
 :type "section"
 :author "https://home.juxt.site/_site/users/jdt"
 :paras ["We should always start with modelling the data!"
         "I think that makes sense"]}

{
 :crux.db/id "eaed4cd6-789a-4c8f-9a94-e0608f481fe6"
 :title "Diary entry for 4th May"
 :type "section"


 ;; Only for the purposes of supporting 'back-links'
 :refs #{"faed4cd6-789a-4c8f-9a94-e0608f481fe6" "jdt-suggestion"}

 :paras ["Had a _great_ session with [[https://home.juxt.site/_site/users/jdt]] working out the design of Card"
         "[faed4cd6-789a-4c8f-9a94-e0608f481fe6 0]"
         "[jdt-suggestion 0]" ;; section reference
         "I agree!"
         ]

 :author :mal
 :classification :private
 :mood "grumpy"
 :tags ["rant" "design" "clojure"]}


What travels to the text editor:

"Had a _great_ session with [[https://home.juxt.site/_site/users/jdt]] working out the design of Card"

What the user types:

"Had a _great_ session with [[Jeremy Taylor]] working out the design of Card"


jdt:

{:username "jdt",
 :email "jdt@juxt.pro",
 :name "Jeremy Taylor",
 :roam/label "Jeremy Taylor"
 :juxt.site.alpha/type "User",
 :juxt.pass.alpha/username "jdt",
 :crux.db/id "https://home.juxt.site/_site/users/jdt"}

"Just had a great chat with [[Jeremy Taylor]] & [[Alice Jones]]"

"https://home.juxt.site/_site/users/jdt"


;; A 'atom' is:

;; Section:: Title? (Paragraph+ | List | Figure)
;; Figures:: Example | Table | CodeBlock

;;


{:crux.db/id :a
 :title "My family and other animals"
 :sections
 [:b :c :d]}

{:crux.db/id :b
 :title "Introduction"
 :sections [:b2 :b3]}

{:crux.db/id :b2
 :paragraphs [:b21 :b22]}

{:crux.db/id :b21
 :content [[:text "This is where we should focus editor efforts - and allow "]
           [:bold "bold"]
           [:text " and italic and embedded links to other Crux entities, e.g. "]
           "http://home.juxt.site/_site/users/jdt"]}

{:crux.db/id :b3
 :quotation "foobar"}
