{:juxt.site.alpha/type #{:juxt.card.types/card
                         :juxt.card.types/article
                         :juxt.card.types/research-paper
                         :juxt.card.types/conference-submission}
 :juxt.card.alpha/title "Article"
 :juxt.card.alpha/children ["{{base-uri}}/card/cards/section-containing-checklist-1"]}
