{:juxt.site.alpha/type "Checklist"
 :author "{{base-uri}}/_site/users/jdt"
 :classification "INTERNAL"
 :deadline "2020-12-10"
 :content ["{{base-uri}}/card/cards/task-1a"
           "{{base-uri}}/card/cards/task-1b"]}
