{:juxt.pass.alpha/owner "{{base-uri}}/_site/users/jdt"
 :juxt.pass.alpha/classification "INTERNAL"
 :juxt.card.alpha/content [[:text "Here's a section of a document that has a built-in check-list: "]]}
