{:juxt.site.alpha/type "Paragraph"
 :juxt.pass.alpha/owner "{{base-uri}}/_site/users/jdt"
 :juxt.pass.alpha/classification "INTERNAL"
 :juxt.card.alpha/content
 [[:text "Some more text here. "]
  [:text "We can reference people like "]
  "{{base-uri}}/_site/users/mal"
  [:text " here and they will forever be related to this section of the document. "]
  [:text "This lets us make arbitary links between text, which enables features like "]
  [:em "structural search"]
  [:text "."]]}
