{:juxt.site.alpha/type "DocumentSection"
 :author "{{base-uri}}/_site/users/jdt"
 :classification "INTERNAL"
 :title "Introduction"
 :subtitle "The evolution of cards"
 :content ["{{base-uri}}/card/cards/para-1"
           "{{base-uri}}/card/cards/checklist-1"
           "{{base-uri}}/card/cards/para-2"]}
