{:juxt.site.alpha/type "DocumentSection"
 :author "{{base-uri}}/_site/users/jdt"
 :classification "INTERNAL"
 :title "Introduction"
 :subtitle "The evolution of cards"
 :content [[:text "Here's a section of a document that has a built-in check-list: "]
           "{{base-uri}}/card/cards/checklist-1"
           [:text "Some more text here. "]
           [:text "We can reference people like "]
           "{{base-uri}}/_site/users/mal"
           [:text " here and they will forever be related to this section of the document. "]
           [:text "This lets us make arbitary links between text, which enables features like "]
           [:em "structural search"]
           [:text "."]]}
