{:juxt.site.alpha/type "Task"
 :author "{{base-uri}}/_site/users/jdt"
 :classification "INTERNAL"
 :assignee ["{{base-uri}}/_site/users/jon"
            "{{base-uri}}/_site/users/sdh"]
 :priority 3
 :deadline "2020-12-10"
 :status "DONE"
 :title "Get cake"
 :content [[:text "Organise cake for "]
           "{{base-uri}}/_site/users/mal"
           [:text "'s 50th birthday."]]}
