{:juxt.pass.alpha/owner "{{base-uri}}/_site/users/jdt"
 :juxt.pass.alpha/classification "INTERNAL"
 :juxt.card.alpha/assignee "{{base-uri}}/_site/users/kat"
 :juxt.card.alpha/priority 4
 :juxt.card.alpha/deadline "2020-12-10"
 :juxt.card.alpha/status "TODO"
 :juxt.card.alpha/content
 [[:text "Buy 50 candles"]]}
