{:juxt.pass.alpha/owner "{{base-uri}}/_site/users/jdt"
 :juxt.pass.alpha/classification "INTERNAL"
 :juxt.card.alpha/assignee
 ["{{base-uri}}/_site/users/jon"
  "{{base-uri}}/_site/users/sdh"]
 :juxt.card.alpha/priority 3
 :juxt.card.alpha/deadline "2020-12-10"
 :juxt.card.alpha/status "DONE"
 :juxt.card.alpha/content
 [[:text "Organise cake for "]
  "{{base-uri}}/_site/users/mal"
  [:text "'s 50th birthday."]]}
